body {
  display: flex;
  justify-content: center;
  background-color: aqua;
}
#label {
  font-size: 50px;
  padding: 0 0 0 25%;
  color: #f5f5f5;
  text-shadow: 1px 1px aqua;
}
.container {
  background-color: #445a6f;
  width: 400px;
  height: fit-content;
  margin-top: 30px;
  border-radius: 15px;
}
.screen {
  width: 100%;
  margin-top: 10px;
  padding: 10px 0;
  font-size: 30px;
  background-color: #445a6f;
  border: none;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
}
button {
  flex: 25%;
  padding: 10px;
  font-size: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #445a6f;
  border: none;
  color: white;
  border-radius: 10px;
}
.btn {
  color: aqua;
}
